.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.phone-input {
    padding: 10px;
    font-size: 1rem;
    margin-right: 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}

.search-button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}


.container {
    margin: 20px auto;
    padding: 5px;
    max-width: 1200px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-table th,
.order-table td {
    font-size: 18px;
    padding: 10px 5px;
    text-align: center;
    border: 1px solid #ddd;
}

.order-table th {
    background-color: #f1f1f1;
    font-weight: bold;
    color: #555;
}

.order-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.order-table tr:hover {
    background-color: #f1f1f1;
}

.action-button {
    // padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #0056b3;
}

