@import '../../styles/AdminComponent.scss';
.wrapper {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid gray;

    justify-content: space-between;
}
// .id {
//     width: 6%;
//     text-align: center;
// }
.name {
    width: 30%;
    font-weight: bold;
    text-align: left;
}
