// @import '../../styles/FormStyle.scss';
.wrapper {
    position: relative;
    height: 100%;
}
// .active {
//     background-color: #ffc107; /* Xanh dương đậm */
//     color: white;
//     border: yellow;
// }
.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cột đều nhau */
    gap: 16px; /* Khoảng cách giữa các ô */
    padding: 16px; /* Khoảng cách bên trong container */
}

.category-item0 {
    text-align: left;
    border: 1px solid #ccc; /* Viền phân biệt */
    padding: 16px;
    border-radius: 8px;
    background-color: #f9f9f9; /* Nền nhẹ */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng nhẹ */
}
.category-parent0{
    font-size: 30px;
    color: #ffc107;
}
