@import '../../styles/PaginationAdmin.scss';
.wrapper {
    position: relative;
    height: 100%;
}
.list-book {
    height: 96%;
    overflow: auto;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 5px;
    background-color: #f9f9f9; /* Nền nhẹ */
    border: 1px solid #ddd; /* Viền mờ */
    border-radius: 8px; /* Bo góc */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hiệu ứng nổi */
}

.row {
    display: flex;
    flex-wrap: wrap; /* Tự xuống dòng khi không đủ chỗ */
    gap: 16px; /* Khoảng cách giữa các phần tử */
}

.input {
    flex: 1;
    min-width: 180px; /* Đảm bảo input không quá nhỏ */
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
    color: #333;
    border: 1px solid var(--grey);
    &:focus {
        border: 1px solid var(--hover-input);
        outline: none; // kích hoạt nếu cần loại bỏ viền mặc định
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
}


.select {
    flex: 1;
    min-width: 180px;
}

label {
    font-size: 14px;
    color: #555;
    // display: flex;
    // align-items: center;
    gap: 8px;
}

input[type='checkbox'] {
    transform: scale(1.2); /* Tăng kích thước checkbox */
    cursor: pointer;
}

input::placeholder {
    color: #aaa; /* Placeholder màu nhẹ */
}

button {
    padding: 8px 16px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
