.sidebar {
    width: 250px;
    background-color: #f5f5f5;
    // color: white;
    color: #333;
    padding:8px 20px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;

    .logo {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        height: 100px;
        //border-bottom: 1px solid gray ;
        padding-bottom: 20px;
        //display: flex;
        //justify-content: center;
        .img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            float: left;
            height: 100%;
        }
        img {
            width: 60px;
            display: block;
            border-radius: 10px;

            margin-right: 20px;
            line-height: 50px;
        }
        h3 {
            height: 100%;
        }
    }

    // nav ul {
    //     list-style: none;
    //     padding: 0;

    //     li {
    //         margin: 10px 0;

    //         a {
    //             //color: white;
    //             text-decoration: none;
    //             font-size: 16px;
    //             transition: color 0.3s;

    //             &:hover {
    //                 color: #3498db;
    //             }
    //         }
    //     }
    // }
    nav ul {
        list-style: none;
        padding: 0;
        width: 100%;

        li {
            margin: 15px 0;

            a {
                display: block;
                padding: 10px;
                border-radius: 8px;
                color: #333;
                font-size: 16px;
                font-weight: 500;
                text-decoration: none;
                //text-align: center;
                transition: background-color 0.3s ease, color 0.3s ease;

                &:hover {
                    background-color: #e0e0e0; // Màu nền xám nhạt khi hover
                    color: var(--primary); // Màu chữ xanh dương khi hover
                }
            }
        }
    }
}
