.table-container {
    table {
    //   width: 50%;
      border-collapse: collapse;

      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
      }

      img {
        max-width: 100px;
        height: auto;
      }
    }
  }
  /* CSS for Pagination Buttons */
.pagination {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.pagination button {
    background-color: yellowgreen;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagination button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.pagination button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.pagination button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.75);
}