.chart-container{
    width: 50%;

    .controls{
        font-size: 20px;
        select{
            font-size: 20px;
        }
    }
}
.tong-doanh-thu{
    font-weight: bold;
    font-size: 23px;
}