@import '../../../styles/sendOtpbtn.scss';
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6) no-repeat right;
    background-size: cover; /* Ảnh phủ hết màn hình mà không bị méo */
    position: relative;
}

.title h1 {
    display: inline-block;
    background: linear-gradient(135deg, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.3s ease;
}
.logo{
    display: block;
    border-radius: 20px;
    align-items: center;
    margin: auto;
}
.title span:hover {
    transform: scale(1.1); /* Phóng to khi di chuột vào */
}

.login-form {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    height: 500px;
}

.head-form {
    margin-bottom: 1.5rem;

    h2 {
        color: #333;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    p {
        color: #777;
        font-size: 0.9rem;
    }
}

.field-set {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background: #f1f1f1;
    border-radius: 5px;
    height: 30px;
    padding: 0.5rem;
    font-size: 25px;
}

.input-icon {
    color: #888;
    margin-right: 0.5rem;
}

.form-input {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #333;
}

.eye-icon {
    cursor: pointer;
    color: #888;
}

.login-button {
    background: #ffd15b;
    color: #8a0917;
    font-size: 1.5rem;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background:  #f5b515;;
    }
}

.footer {
    margin-top: 1.5rem;
}

.forgot-password {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 0.9rem;
    text-decoration: underline;
    font-size: 1.2rem;
}
.send-button-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}




